<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <img src="img/점프냥.gif">
    <% if(teacher) {%>
      <h2>hello <%=teacher %></h2>

      <a href="/signout"> Sign out</a>
      <% } else{%>
        <a href="/signup">Signup</a>
        <a href="/signin">Signin</a>
        <% } %>
        <br> 
  </body>
</html>
